---
import CompetitionList from "../CompetitionList.astro";
import CompetitionItem from "../CompetitionItem.astro";
---

<section id="timeline" relative bg-amber-50 pt-15>
    <h2 px="6 md:20" mb-6 text="4xl md:5xl teal-900" font-bold>Competitions</h2>
    <p max-w-prose px="6 md:20">
        I&rsquo;ve participated in numerous competitions, mainly competitive
        programming and mathematical modelling competitions. Here are some of
        the awards I&rsquo;ve achieved.
    </p>

    <div id="cert-preview" absolute p-1 bg-gray-700 shadow-md rounded-md hidden>
        <img id="cert-preview-img" src="" max-w-50 max-h-45 rounded-sm />
    </div>

    <figure p="l-15 md:l-35 y-20" overflow-x-scroll space-y-6>
        <CompetitionList>
            <CompetitionItem
                name="International Mathematical Modelling Challenge"
                award="Commendation"
                date="Mar 2023"
                slug="23-03-immc"
            />
            <CompetitionItem
                name="Singapore International Mathematical Challenge 2.0"
                award="High distinction"
                date="Nov 2022"
                slug="22-11-simc"
            />
            <CompetitionItem
                name="National Olympiad in Informatics"
                award="Silver"
                date="Mar 2022"
                slug="22-03-noi"
            />
        </CompetitionList>
        <CompetitionList>
            <CompetitionItem
                name="Perse Coding Team Challenge"
                award="Distinction, best in school"
                date="Mar 2023"
                slug="23-03-pctc"
            />
            <CompetitionItem
                name="Australian Informatics Olympiad"
                award="Silver"
                date="Aug 2022"
                slug="22-08-aio"
            />
            <CompetitionItem
                name="Perse Coding Team Challenge"
                award="Distinction"
                date="Mar 2022"
                slug="22-03-pctc"
            />
            <CompetitionItem
                name="East Zone A*STAR Science Fair"
                award="Bronze"
                date="Jul 2021"
                slug="21-07-astar-science-fair"
            />
        </CompetitionList>
        <CompetitionList>
            <CompetitionItem
                name="National Olympiad in Informatics"
                award="Participation"
                date="Feb 2023"
                slug="23-02-noi"
            />
            <CompetitionItem
                name="Computational and Algorithmic Thinking"
                award="High distinction"
                date="May 2022"
                slug="22-05-cat"
            />
            <CompetitionItem
                name="Singapore Mathematics Project Festival"
                award="Bronze"
                date="Mar 2022"
                slug="22-03-smpf"
            />
            <CompetitionItem
                name="Computational and Algorithmic Thinking"
                award="Distinction"
                date="Mar 2021"
                slug="21-03-cat"
            />
        </CompetitionList>
    </figure>
</section>
