<footer bg-teal-900 text-gray-50 p="x-6 md:x-20 t-10 b-6">
    <h2 mb-3 text="2xl md:3xl" font-bold>Thanks for visiting!</h2>
    <p mb-25>
        Find me on
        <a
            href="https://github.com/haziq21"
            text-blue-300
            no-underline
            hover:underline
        >
            GitHub</a
        >.
    </p>
    <p>© Haziq Hairil 2023</p>
</footer>
