---
import GitHubSmaller from "../svg/GitHubSmaller.astro";
---

<footer bg-teal-900 text-gray-50 p="x-6 md:x-20 t-10 b-6">
    <h2 mb-3 text="2xl md:3xl amber-50" font-bold>Thanks for visiting!</h2>
    <p mb-8>
        This site was written with Astro and UnoCSS, and hosted on GitHub Pages.
        <a
            href="https://github.com/haziq21/haziq21.github.io"
            target="_blank"
            inline-block
            w-2
            pl-1
        >
            <GitHubSmaller />
        </a>
    </p>
    <p text-teal-500>© Haziq Hairil 2023</p>
</footer>
