<header
	bg-teal-900
	text-teal-100
	py="20 sm:25 md:40"
	flex="~ col md:row"
	space="y-12 md:x-20 md:y-0"
	justify-center
	items-center
>
	<div
		relative
		block
		min-w-40
		h-40
		bg-teal-500
		rounded-lg
		after="block absolute top-4 right-4 w-full h-full border-2 border-solid border-teal-600 rounded-lg"
	>
	</div>
	<h1 text="3xl sm:4xl md:5xl center md:right" font="bold">
		Hi, I&rsquo;m <span text-teal-400>Haziq</span>,<br />and I love
		<mark
			relative
			inline-block
			bg-transparent
			text-inherit
			before="absolute block bg-amber-200/30 -skew-y-3 skew-x-5 inset-y-1 -inset-x-1"
		>
			learning
		</mark>
	</h1>
</header>
