---
import me from "../../images/me.jpeg";
---

<header
	bg-teal-900
	text-teal-100
	py="20 sm:25 md:40"
	flex="~ col md:row"
	space="y-12 md:x-20 md:y-0"
	justify-center
	items-center
>
	<div
		block
		max-w-40
		aspect-square
		border="3 teal-700"
		bg="teal-700/50"
		rounded-lg
	>
		<img
			src={me}
			alt="Haziq Hairil"
			width="160"
			rounded-lg
			border="3 teal-600"
			relative
			rotate--10
		/>
	</div>
	<h1 text="3xl sm:4xl md:5xl center md:right" font="bold">
		Hi, I&rsquo;m <span text-teal-400>Haziq</span>,<br />and I love
		<mark
			relative
			inline-block
			bg-transparent
			text-inherit
			before="absolute block bg-amber-200/30 -skew-y-3 skew-x-5 inset-y-1 -inset-x-1"
		>
			learning
		</mark>
	</h1>
</header>
