---
import fieldTrip from "../../images/field-trip.jpg";
---

<section bg-amber-50 p="x-6 md:x-20 t-15 b-25">
    <h2 mb-6 text="4xl md:5xl teal-900" font-bold>Leadership</h2>

    <div flex="~ col lg:row" gap-20 lg:items-center>
        <p max-w-prose>
            As a student of the School of Science and Technology, I&rsquo;m
            currently serving as the 2023 class chairperson, where I organise
            class events and handle administrative matters. Through my
            experience so far, I&rsquo;m grateful to have gained valuable skills
            like project management and communication.
        </p>

        <figure class="group" w-full max-w-100 lg:min-w-100 mx-auto>
            <img
                src={fieldTrip}
                alt=""
                bg-amber-100
                rounded-lg
                shadow-lg
                mb-2
            />
            <figcaption
                invisible
                group-hover:visible
                text="xs transparent group-hover:gray-600 center"
                class="transition-all"
            >
                Class field trip to Marina Barrage
            </figcaption>
        </figure>
    </div>
</section>
