<section bg-amber-50 p="x-6 md:x-20 t-15 b-25">
    <h2 mb-6 text="4xl md:5xl teal-900" font-bold>Leadership</h2>
    <p max-w-prose>
        As a student of the School of Science and Technology, Singapore (2020 -
        2023), I&rsquo;m currently serving as the 2023 class chairperson, where
        I organise class events and handle administrative matters.
    </p>
</section>
