---
import Signature from "../svg/Signature.astro";
---

<div nav-even>
    <!-- This is here so UnoCSS generates the nav-even style -->
</div>

<nav
    sticky
    top-0
    z-1
    nav-odd
    flex
    items-center
    justify-between
    p="x-10 y-3"
    font-medium
    transition-all
>
    <a href="#">
        <Signature />
    </a>

    <ul sm:flex hidden gap-5 list-none>
        <li><a href="#learning" no-underline>Learning</a></li>
        <li><a href="#projects" no-underline>Projects</a></li>
        <li>
            <a href="#competitions" no-underline>Competitions</a>
        </li>
        <li><a href="#service" no-underline>Service</a></li>
        <li><a href="#leadership" no-underline>Leadership</a></li>
    </ul>

    <button block sm:hidden bg-transparent border-none p-0 hover:cursor-pointer>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="1.5 amber-50"
            fill-none
            w-6
            h-6
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
    </button>
</nav>

<script>
    let scrollThrottled = false;

    function handleScroll() {
        const sections = [
            "learning",
            "projects",
            "competitions",
            "service",
            "leadership",
        ];

        let closestValidOffset = -Infinity;
        let closestValidSectionIndex = 0;

        for (let i = 0; i < sections.length; i++) {
            // Get the distance between the top of the
            // element with the ID and the top of the screen
            const offset = Math.round(
                document.getElementById(sections[i])!.getBoundingClientRect()
                    .top
            );

            if (offset <= 0 && offset > closestValidOffset) {
                closestValidOffset = offset;
                closestValidSectionIndex = i + 1;
            }
        }

        const navBarOddColor = closestValidSectionIndex % 2 == 0;
        const attrToRemove = navBarOddColor ? "nav-even" : "nav-odd";
        const attrToSet = navBarOddColor ? "nav-odd" : "nav-even";

        document.querySelectorAll(`[${attrToRemove}]`).forEach((el) => {
            el.removeAttribute(attrToRemove);
            el.setAttribute(attrToSet, "");
        });

        scrollThrottled = false;
    }

    window.addEventListener("scroll", () => {
        if (!scrollThrottled) {
            scrollThrottled = true;
            setTimeout(handleScroll, 200);
        }
    });
</script>
