---
import Signature from "../svg/Signature.astro";
import NavItem from "../NavItem.astro";
---

<nav
    bg-teal-900
    sticky
    top-0
    z-1
    flex
    items-center
    justify-between
    p="x-10 y-3"
>
    <a href="#">
        <Signature />
    </a>

    <ul hidden sm:flex gap-5 list-none>
        <NavItem name="Learning" />
        <NavItem name="Projects" />
        <NavItem name="Competitions" />
        <NavItem name="Service" />
        <NavItem name="Leadership" />
    </ul>

    {
        /*
    <button block sm:hidden bg-transparent border-none p-0 hover:cursor-pointer>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="1.5 amber-50"
            fill-none
            w-6
            h-6
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
    </button>
    */
    }
</nav>
