<div nav-even>
    <!-- This is here so UnoCSS generates the nav-even style -->
</div>

<nav
    sticky
    top-0
    z-1
    nav-odd
    flex
    items-center
    justify-between
    p="x-10 y-3"
    font-medium
    transition-all
>
    <a href="#">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="80 110 100 90"
            w-10
            min-w-10
        >
            <path
                transform="matrix(1,0,0,-1,0,841.8898)"
                d="M105.5977 709.9687 105.1169 708.5437 105.1138 708.5344 104.602 706.9498 104.5737 706.8287 104.3521 705.3263 104.3491 705.3038 104.1547 703.6384 104.159 703.6694 103.8781 701.9044 103.8787 701.9086 103.584 700.122 103.5832 700.1173 103.2995 698.3268 103.2987 698.3222 103.0381 696.6081 103.0363 696.5954 102.7001 694.0994 102.7006 694.1033 102.4116 692.0392 102.4119 692.0411 102.1724 690.3617 102.1722 690.3609 101.9164 688.5526 101.9137 688.5316 101.7223 686.8353 101.722 686.8332 101.546 685.2332 101.5438 685.2106 101.4472 683.9947 101.446 683.9767 101.3983 683.113 101.3976 683.0949 101.3817 682.5831 101.3813 682.5598V682.2719L101.4193 682.0363 101.4828 681.8444 101.5382 681.7176 101.6176 681.5737C101.8177 681.211 102.274 681.0791 102.6367 681.2793 102.9995 681.4794 103.1313 681.9357 102.9312 682.2984L102.8517 682.4424 102.9071 682.3156 102.8436 682.5076 102.8816 682.2719V682.5598L102.8812 682.5366 102.8971 683.0484 102.8963 683.0303 102.944 683.894 102.9427 683.8759 103.0394 685.0918 103.0372 685.0691 103.2133 686.6692 103.213 686.6671 103.4045 688.3634 103.4018 688.3424 103.6577 690.1507 103.6576 690.1498 103.8971 691.8292 103.8974 691.8311 104.1864 693.8953 104.1869 693.8992 104.5231 696.3952 104.5213 696.3825 104.7819 698.0967 104.7812 698.092 105.0649 699.8824 105.0642 699.8777 105.359 701.6644 105.3596 701.6686 105.6406 703.4335 105.6449 703.4645 105.8393 705.1299 105.8363 705.1074 106.0579 706.6098 106.0296 706.4887 106.5414 708.0733 106.5383 708.064 107.0192 709.489C107.1512 709.8817 106.9398 710.3071 106.5471 710.439 106.1551 710.5708 105.7305 710.3604 105.5977 709.9687Z"
                nav-odd></path>
            <path
                transform="matrix(1,0,0,-1,0,841.8898)"
                d="M122.4121 728.8183 121.8994 727.2026 121.8812 727.1342 121.4974 725.3579 121.4892 725.314 121.1531 723.1385 121.1544 723.1471 120.723 720.5552 120.7235 720.558 120.4552 718.9831 120.4556 718.9858 120.1641 717.3124 120.1651 717.3181 119.7863 715.2381 119.7862 715.2375 119.3974 713.0932 119.3962 713.0862 119.0474 711.0535 119.0464 711.0477 118.7011 708.9348V708.9351L118.3958 707.0715 118.3957 707.0713 118.0743 705.1059 118.0741 705.1043 117.7698 703.2169 117.7695 703.2152 117.4133 700.9711 117.4134 700.9716 117.0591 698.7503 117.0587 698.7476 116.6443 696.0831 116.6441 696.082 116.2419 693.4666 116.242 693.4671 115.9374 691.4977 115.9373 691.497 115.6498 689.6257V689.6256L115.3758 687.8408 115.3752 687.8369 115.1211 686.1181 115.1196 686.1074 114.9284 684.6598 114.9286 684.6611 114.7432 683.2775 114.7438 683.2817 114.4013 680.8347 114.401 680.8326 114.0966 678.6091 114.0974 678.615 113.7626 676.3109 113.7633 676.3155 113.4986 674.573 113.4927 674.5223 113.3961 673.3227 113.3963 673.3243 113.3314 672.5406 113.4495 672.8813 113.3859 672.7854C113.1647 672.4513 113.2562 672.0011 113.5903 671.7799 113.9244 671.5587 114.3745 671.6502 114.5957 671.9843 114.7289 672.1853 114.7534 672.4394 114.6612 672.6621L114.5818 672.8541C114.4279 673.224 114.0032 673.3991 113.6333 673.2451 113.2645 673.0917 113.0891 672.6689 113.2411 672.2994L113.3205 672.1075C113.4736 671.7373 113.8979 671.5613 114.2682 671.7144 114.4018 671.7697 114.5159 671.8637 114.5957 671.9843L114.6593 672.0802 114.7774 672.4209 114.8423 673.2046 114.8424 673.2062 114.939 674.4058 114.9341 674.3616 115.183 676.1064 115.1827 676.1045 115.5175 678.4086 115.5184 678.4145 115.8228 680.6379 115.8231 680.6403 116.1502 683.0893 116.1512 683.0969 116.321 684.4824 116.3202 684.4759 116.5114 685.9235 116.5099 685.9128 116.764 687.6317 116.7634 687.6278 117.0375 689.4126 117.0374 689.4125 117.3249 691.2838 117.3248 691.2831 117.6294 693.2526 117.6295 693.2531 118.0317 695.8685 118.0316 695.8674 118.4459 698.5319 118.4455 698.5292 118.7998 700.7505 118.7989 700.7452 119.1741 702.9861 119.1736 702.9833 119.4969 704.8676 119.4967 704.8663 119.837 706.8284 119.8369 706.8278 120.1613 708.6882 120.1614 708.6893 120.5259 710.799 120.526 710.7998 120.8748 712.8325 120.8736 712.8255 121.2624 714.9699 121.2623 714.9693 121.6411 717.0493 121.6421 717.0549 121.9336 718.7283 121.9341 718.7311 122.2024 720.306 122.2029 720.3088 122.6343 722.9008 122.6357 722.9094 122.9719 725.0849 122.9638 725.041 123.3476 726.8173 123.3294 726.7489 123.842 728.3646C123.9668 728.7596 123.7478 729.181 123.3527 729.3058 122.9584 729.4304 122.5376 729.2123 122.412 728.8183Z"
                nav-odd></path>
            <path
                transform="matrix(1,0,0,-1,0,841.8898)"
                d="M82.23063 695.4422H83.43151 84.8075 84.81375L86.7342 695.4582 86.74294 695.4584 89.14243 695.5064 89.13508 695.5062 90.61804 695.5214H90.61842L92.19101 695.5382 92.19818 695.5383 94.0823 695.5765H94.08313L96.03846 695.6183H96.03502L98.07522 695.6525H98.07339L100.1449 695.6822H100.1439L102.308 695.7103H102.3051L104.4777 695.7301H104.4719L106.6018 695.7331H106.5997L108.7103 695.7301H108.7114 110.743 112.7432 112.745L114.6402 695.7345H114.6367L116.4847 695.7301 116.4749 695.7302 118.1416 695.7043 118.1358 695.7044 119.765 695.6663 119.7621 695.6664 121.3442 695.6233 121.3389 695.6235 122.8776 695.5706 122.8671 695.571 125.5075 695.4431 125.4891 695.4442 127.4571 695.3003 127.4512 695.3007 129.2279 695.1568 129.2309 695.1565 131.1023 695.0126 131.0471 695.0189 132.5192 694.795 132.4345 694.8129 133.4893 694.525 133.1356 694.7399 133.7123 694.1152 133.5279 694.477 133.7198 693.5165 133.7633 693.9527 133.188 692.5763 133.2431 692.6831 132.1393 690.9077 132.1687 690.9516 130.7437 688.9834 130.755 688.9986 129.3627 687.1743 129.3561 687.1655 127.8993 685.1973 127.8979 685.1954 126.6984 683.564 126.6914 683.5544 125.588 682.003 125.5751 681.9842 124.6791 680.6398H124.6792L123.8149 679.3434 123.8003 679.3206 123.1597 678.2801 123.1197 678.2062 122.7359 677.3904 122.7032 677.3086 122.543 676.8288C122.4799 676.6397 122.4946 676.4334 122.5839 676.2552L122.7281 675.9673C122.8439 675.7363 123.0705 675.5811 123.3278 675.5566L124.0006 675.4926 124.19 675.4987 125.3905 675.6906 125.5069 675.7189 127.1079 676.2467 127.1884 676.2785 129.1564 677.1901 129.1867 677.205 131.3145 678.3096 131.3321 678.3191 133.5874 679.5675 133.5918 679.57 135.7831 680.8025 135.7875 680.8049 137.8032 681.9565 137.8282 681.9714 139.8275 683.219 139.8573 683.2385 141.5218 684.3904 141.5422 684.4051 143.2231 685.6535 143.2554 685.6789 144.7757 686.9427 144.8171 686.9798 146.1604 688.2762 146.2002 688.3177 147.3516 689.6135 147.4151 689.6957 148.3746 691.1352 148.4033 691.1819 149.2363 692.6543 149.2812 692.7485 149.9059 694.3328 149.9133 694.3523 150.4414 695.8087 150.4622 695.876 150.7984 697.1715 150.8073 697.2097 151.0622 698.4572 151.074 698.5358 151.1706 699.5435 151.1731 699.5769 151.2212 700.5208 151.2209 700.6027 151.1733 701.4193 151.1131 701.673 150.8092 702.377 150.5959 702.6599 150.0678 703.0927 149.8105 703.2302 148.9149 703.5024 148.637 703.5324 147.4366 703.4364 147.1827 703.3701 145.7908 702.7294 145.6795 702.6661 144.1429 701.6096 144.0486 701.5328 142.4803 700.0285 142.4181 699.9611 140.8661 698.0575 140.8327 698.0133 139.3451 695.8851 139.3042 695.8198 138.1841 693.8042 138.1455 693.7239 137.2812 691.6117 137.2528 691.5285 136.6925 689.5127 136.6778 689.4494 136.2926 687.3852 136.2816 687.2981 136.1532 685.3945 136.1612 685.2238 136.4498 683.4475 136.5613 683.1589 137.3933 681.8791 137.5787 681.683 139.0187 680.6274 139.1775 680.5383 140.6982 679.9146 140.8597 679.8686 142.5882 679.5807 142.5892 679.5806 144.2374 679.3084 144.2162 679.3122 145.9447 678.9754 145.8127 679.0139 147.637 678.2939 147.5163 678.3546 149.2924 677.2501 149.0757 677.4545 150.4195 675.5506 150.3436 675.686 150.906 674.3823 150.8784 674.457 151.3231 673.0248 151.3062 673.0895 151.6663 671.416 151.6577 671.463 151.9215 669.6971 151.9174 669.7289 152.1266 667.7547 152.1248 667.7747 152.2835 665.7648 152.2832 665.7683 152.4287 663.8097 152.4282 663.8173 152.554 661.856 152.5536 661.8632 152.6648 659.8266 152.6646 659.8308 152.7616 657.851 152.7615 657.853 152.8354 656.2586V656.2587L152.9057 654.7334 152.9059 654.7295 153.0507 651.9132 153.0514 651.9006 153.1957 649.7885 153.1961 649.7823 153.3395 647.9107 153.3394 647.9118 153.4837 645.9916 153.4997 645.8841 153.8358 644.3804 153.9107 644.1824 154.4388 643.2227C154.5122 643.0894 154.6244 642.9815 154.7606 642.9134L155.5926 642.4976C155.7732 642.4073 155.9825 642.3937 156.1733 642.4597L157.4214 642.8915 157.5692 642.9615 159.025 643.8572 159.1301 643.9353 160.8586 645.4707 160.8741 645.4848 162.4574 646.9726 162.4663 646.981 164.0982 648.5654 164.0821 648.5502 165.5855 649.926 165.581 649.9219 167.021 651.2183 166.9847 651.1876 168.5208 652.4035 168.4748 652.3699 169.7075 653.2016 169.6536 653.1684 170.8853 653.8562 170.9124 653.872 172.2398 654.6877 172.1357 654.6345 173.0948 655.0343C173.4772 655.1937 173.658 655.6329 173.4986 656.0153 173.3391 656.3977 172.8999 656.5784 172.5176 656.419L171.5585 656.0192 171.4544 655.9659 170.1269 655.1502 170.154 655.1661 168.9222 654.4783 168.8684 654.4452 167.6357 653.6135 167.5897 653.5799 166.0536 652.364 166.0172 652.3333 164.5772 651.0369 164.5727 651.0328 163.0693 649.6569 163.0532 649.6418 161.4213 648.0574 161.4301 648.0659 159.8468 646.5781 159.8623 646.5923 158.1338 645.0569 158.2389 645.135 156.783 644.2393 156.9308 644.3093 155.6827 643.8774 156.2633 643.8395 155.4313 644.2554 155.7531 643.946 155.2251 644.9057 155.2999 644.7077 154.9638 646.2114 154.9797 646.104 154.8354 648.0242V648.0253L154.692 649.8969 154.6924 649.8907 154.5482 652.0029 154.5489 651.9902 154.4042 654.8064 154.4044 654.8025 154.334 656.3279V656.328L154.2601 657.9225 154.26 657.9244 154.163 659.9042 154.1628 659.9084 154.0516 661.945 154.0512 661.9521 153.9254 663.9133 153.9249 663.9209 153.7793 665.8794 153.779 665.8829 153.6204 667.8928 153.6185 667.9128 153.4093 669.887 153.4052 669.9187 153.1415 671.6846 153.133 671.7316 152.7728 673.4051 152.7559 673.4697 152.3112 674.9019 152.2836 674.9766 151.7211 676.2803 151.6452 676.4157 150.3014 678.3196 150.0847 678.5241 148.3085 679.6286 148.1878 679.6893 146.3635 680.4094 146.2316 680.4479 144.5031 680.7847 144.4819 680.7885 142.8337 681.0608 142.8347 681.0606 141.1061 681.3485 141.2676 681.3026 139.7469 681.9263 139.9057 681.8373 138.4657 682.8929 138.6511 682.6968 137.8191 683.9766 137.9306 683.6881 137.642 685.4643 137.65 685.2936 137.7784 687.1972 137.7674 687.11 138.1526 689.1742 138.1379 689.1109 138.6982 691.1268 138.6697 691.0436 139.534 693.1557 139.4954 693.0754 140.6155 695.091 140.5747 695.0256 142.0623 697.1538 142.0289 697.1095 143.5809 699.0131 143.5188 698.9458 145.0871 700.4501 144.9929 700.3734 146.5295 701.4299 146.4182 701.3666 147.81 702.0073 147.5562 701.941 148.7566 702.0369 148.4787 702.067 149.3742 701.7948 149.1169 701.9323 149.645 701.4995 149.4318 701.7824 149.7357 701.0783 149.6756 701.332 149.7232 700.5153 149.7229 700.5972 149.6748 699.6533 149.6772 699.6867 149.5806 698.679 149.5924 698.7576 149.3374 697.5101 149.3463 697.5483 149.0101 696.2528 149.031 696.3201 148.5029 694.8637 148.5103 694.8831 147.8856 693.2988 147.9305 693.393 147.0976 691.9206 147.1263 691.9673 146.1668 690.5279 146.2302 690.6101 145.0787 689.3142 145.1186 689.3557 143.7752 688.0593 143.8166 688.0964 142.2963 686.8325 142.3286 686.8579 140.6477 685.6094 140.6681 685.6241 139.0036 684.4722 139.0333 684.4918 137.034 683.2442 137.059 683.2591 135.0433 682.1076 135.0476 682.11 132.8564 680.8776 132.8608 680.8801 130.6056 679.6316 130.6232 679.6411 128.4955 678.5365 128.5258 678.5514 126.5578 677.6398 126.6382 677.6715 125.0372 677.1437 125.1536 677.172 123.9532 676.9801 124.1426 676.9861 123.4698 677.0501 124.0694 676.6394 123.9252 676.9273 123.966 676.3538 124.1262 676.8336 124.0934 676.7518 124.4772 677.5675 124.4372 677.4936 125.0778 678.5341 125.0632 678.5112 125.9275 679.8077V679.8078L126.8235 681.1522 126.8106 681.1335 127.914 682.6849 127.907 682.6753 129.1066 684.3067 129.1052 684.3048 130.5619 686.2729 130.5553 686.2641 131.9476 688.0884 131.9589 688.1036 133.3839 690.0717 133.4134 690.1156 134.5171 691.8909 134.5722 691.9977 135.1475 693.3742C135.2051 693.512 135.2202 693.6639 135.191 693.8104L134.999 694.771 134.8147 695.1328 134.2381 695.7575C134.1426 695.8608 134.0201 695.9353 133.8843 695.9723L132.8295 696.2602 132.7448 696.2782 131.2727 696.5021 131.2174 696.5084 129.346 696.6524 129.349 696.6521 127.5724 696.7961 127.5665 696.7965 125.5985 696.9405 125.5801 696.9416 122.9397 697.0695 122.9291 697.07 121.3904 697.1228 121.3851 697.123 119.8029 697.1661 119.8 697.1662 118.1708 697.2042 118.165 697.2043 116.4982 697.2303H116.4883L114.6403 697.2347H114.6367L112.7415 697.2303 112.7432 697.2304H110.743 108.7114L108.7124 697.2303 106.6018 697.2333H106.5997L104.4698 697.2303H104.464L102.2914 697.2105 102.2885 697.2104 100.1244 697.1823H100.1234L98.05187 697.1526 98.05003 697.1525 96.00983 697.1183 96.0064 697.1182 94.05108 697.0764H94.0519L92.16778 697.0383 92.17494 697.0384 90.60235 697.0215H90.60274L89.11978 697.0064 89.11243 697.0063 86.71295 696.9583 86.7217 696.9584 84.80125 696.9424 84.8075 696.9425H83.43151 82.23063C81.81635 696.9425 81.48051 696.6066 81.48051 696.1923 81.48051 695.7781 81.81635 695.4422 82.23063 695.4422Z"
                nav-odd></path>
        </svg>
    </a>

    <ul sm:flex hidden gap-5 list-none>
        <li><a href="#learning" no-underline>Learning</a></li>
        <li><a href="#projects" no-underline>Projects</a></li>
        <li>
            <a href="#competitions" no-underline>Competitions</a>
        </li>
        <li><a href="#service" no-underline>Service</a></li>
        <li><a href="#leadership" no-underline>Leadership</a></li>
    </ul>

    <button block sm:hidden bg-transparent border-none p-0 hover:cursor-pointer>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="1.5 amber-50"
            fill-none
            w-6
            h-6
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
    </button>
</nav>

<script>
    let scrollThrottled = false;

    function handleScroll() {
        const sections = [
            "learning",
            "projects",
            "competitions",
            "service",
            "leadership",
        ];

        let closestValidOffset = -Infinity;
        let closestValidSectionIndex = 0;

        for (let i = 0; i < sections.length; i++) {
            // Get the distance between the top of the
            // element with the ID and the top of the screen
            const offset = Math.round(
                document.getElementById(sections[i])!.getBoundingClientRect()
                    .top
            );

            if (offset <= 0 && offset > closestValidOffset) {
                closestValidOffset = offset;
                closestValidSectionIndex = i + 1;
            }
        }

        const navBarOddColor = closestValidSectionIndex % 2 == 0;
        const attrToRemove = navBarOddColor ? "nav-even" : "nav-odd";
        const attrToSet = navBarOddColor ? "nav-odd" : "nav-even";

        document.querySelectorAll(`[${attrToRemove}]`).forEach((el) => {
            el.removeAttribute(attrToRemove);
            el.setAttribute(attrToSet, "");
        });

        scrollThrottled = false;
    }

    window.addEventListener("scroll", () => {
        if (!scrollThrottled) {
            scrollThrottled = true;
            setTimeout(handleScroll, 200);
        }
    });
</script>
