---
import ProjectCard from "../ProjectCard.astro";
---

<section bg-teal-900 text-gray-50 p="x-6 md:x-20 t-15" class="@container">
    <h2 mb-6 text="4xl md:5xl amber-100" font-bold>Projects</h2>
    <p max-w-prose mb-18>
        I&rsquo;m a strong believer of project-based learning, and so I&rsquo;ve
        worked on some projects over the years &mdash; here are a few of them.
        In the interest of learning, I tend to do more things from scratch
        instead of using high-level libraries or all-in-one platforms.
    </p>

    <ul
        p="x-0 md:x-5 b-10 @lg:b-25"
        mx-auto
        max-w-280
        flex="~ col @4xl:row"
        items="center @lg:start"
        justify="@4xl:between"
        list-none
    >
        <ProjectCard
            name="Kichn"
            year="2023"
            link="https://github.com/haziq21/kichn"
            tags={["web", "python backend", "scraping"]}
            description="Kitchen inventory tracker and grocery list app, with barcode scanning, real-time sharing, and access to FairPrice’s product database."
        />
        <ProjectCard
            name="EcoRoute"
            year="2021"
            link="https://github.com/haziq21/eco-route"
            tags={["web", "nodejs server"]}
            description="Provides bus arrival timings and travel directions using only public transport, encouraging greener choices of transportation."
        />
        <ProjectCard
            name="Racing AI"
            year="2021"
            link="https://github.com/haziq21/old-racing-ai"
            tags={["python app"]}
            description="Simple self-driving car simulation that teaches cars to race around a track, using unsupervised learning and a genetic algorithm."
        />
    </ul>
</section>
