---
import pi5DryRun from "../../images/pi5-dry-run.jpg";
import facilitating from "../../images/facilitating.jpg";
import teaching from "../../images/teaching.jpg";
import ArrowBullet from "../svg/ArrowBullet.astro";
import MosaicImage from "../MosaicImage.astro";
---

<section
    bg-teal-900
    text-gray-50
    p="x-6 md:x-20 t-15 b-20 lg:b-25"
    class="@container"
>
    <h2 mb-6 text="4xl md:5xl amber-100" font-bold>Service</h2>
    <div
        grid="~ rows-[repeat(5,auto)] lg:rows-[repeat(4,auto)] flow-col"
        gap-x-15
    >
        <p max-w-prose mb-8>
            Apart from competitions, I&rsquo;ve also managed to use my skills to
            give back to the community via <strong>Python in Five</strong>, a
            5-hour beginners&rsquo; Python programming workshop for 10 - 13 year
            olds, conducted as a service-learning (volunteer) project.
        </p>

        <!-- Involvement -->
        <h3
            w-fit
            px-2
            ml="5 @md:10"
            bg-teal-900
            font-normal
            text="teal-500 sm"
            translate-y="1/2"
        >
            My involvement
        </h3>
        <dl
            m="x--4 @md:l-3 b-10"
            p-6
            max-w="@md:fit"
            border="solid 2 teal-700"
            rounded-md
        >
            <dt mb-1 text="xs teal-500" font-semibold uppercase tracking-wider>
                Position
            </dt>
            <dd mb-5>
                Lead instructor <span text-teal-500>/</span> Executive committee
                member
            </dd>
            <dt mb-1 text="xs teal-500" font-semibold uppercase tracking-wider>
                Roles
            </dt>
            <dd flex items-start pl-3 mb-1>
                <ArrowBullet />
                Designing the workshop&rsquo;s curriculum
            </dd>
            <dd flex items-start pl-3>
                <ArrowBullet />
                Teaching in 3 of the 5 sessions conducted
            </dd>
        </dl>

        <p max-w-prose mb="16 lg:0">
            <strong>Python in Five</strong> ran five 5-hour sessions in March 2023
            and saw a total of almost 70 students.
        </p>

        <!-- Image gallery -->
        <div
            row-span="lg:4"
            grid="~ cols-2 sm:cols-[2fr_1fr_1fr] lg:cols-2"
            gap-4
            max-w="lg:85"
            mx-auto
            px="5 lg:0"
        >
            <MosaicImage
                src={pi5DryRun}
                caption="Dry-run session with our juniors"
                wide
            />
            <MosaicImage src={facilitating} caption="Helping a student" />
            <MosaicImage src={teaching} caption="Teaching a class" />
        </div>
    </div>
</section>
