---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<li>
    <a
        href={"#" + name.toLowerCase()}
        font-medium
        text="teal-500"
        hover:text="gray-50"
    >
        {name}
    </a>
</li>

<script></script>
