---
interface Props {
    date: string;
    competitions: { name: string; award: string; slug: string }[];
}

const { date, competitions } = Astro.props;
---

<div>
    <div
        w-full
        py-3
        mb-8
        bg-amber-300
        text="center xs"
        font-semibold
        tracking-wide
        uppercase
    >
        {date}
    </div>

    <ul list-none px-10 flex="~ col" items-center gap-8>
        {
            competitions.map((c) => (
                <li data-preview-slug={c.slug} w-max text-center>
                    <a
                        href={`/certificates/${c.slug}.pdf`}
                        block
                        no-underline
                        text-inherit
                    >
                        <span
                            set:html={c.name.replaceAll("\n", "<br/>")}
                            font-semibold
                        />
                        <span
                            inline-block
                            bg-gray-400
                            w-1
                            h-1
                            m="b-1 x-1"
                            rounded-full
                        />
                        <span text-gray-700>{c.award}</span>
                    </a>
                </li>
            ))
        }
    </ul>
</div>
